<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.chinmay.testplugin"
    version="0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>TestPlugin</name>
    <js-module
        name="TestPlugin"
        src="www/TestPlugin.js">
        <clobbers target="cordova.plugins.TestPlugin" />
    </js-module>
    <platform name="android">
        <config-file
            parent="/*"
            target="res/xml/config.xml">
            <feature name="TestPlugin">
                <param
                    name="android-package"
                    value="com.chinmay.testplugin.TestPlugin" />
            </feature>
        </config-file>
        <config-file
            parent="/*"
            target="AndroidManifest.xml"></config-file>

        <source-file
            src="src/android/TestPlugin.java"
            target-dir="src/com/chinmay/testplugin/TestPlugin" />
    </platform>
</plugin>